<div class="question-offered-answer-list-builder">
    <div class="question-offered-answer-list" ng-sortable="ctrl.offeredAnswersSortableConfig" ng-model="ctrl.question.offeredAnswers" role="list">
        <div class="mw-question-offered-answer" ng-repeat="answer in ctrl.question.offeredAnswers" role="listitem">
            <div class="drag-handle" ng-if="!ctrl.readOnly">
                <!-- <i class="fa fa-arrows-v fa-lg handle-inner"></i> -->
                <md-icon class="fa fa-arrows-v fa-lg handle-inner"></md-icon>

            </div>
            <div class="option-type-indicator">
                <!-- <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i> -->
                <!-- <md-icon ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></md-icon> -->
                <md-icon ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></md-icon>
                <md-icon ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></md-icon>
            </div>
            <!-- <input wd-focus-me="ctrl.isNewAnswer[answer.id]" type="text" ng-model="answer.value" ng-keypress="ctrl.keyPressedOnInput($event,answer)" required class="form-control offered-answer-value " ng-readonly="ctrl.readOnly"> -->
            <md-input-container>
                <input wd-focus-me="ctrl.isNewAnswer[answer.id]" type="text" ng-model="answer.value" ng-keypress="ctrl.keyPressedOnInput($event,answer)" required class="form-control offered-answer-value " ng-app="string" ng-readonly="ctrl.readOnly">
            </md-input-container>
            <!-- <button role="button" class="remove-item-button" ng-click="ctrl.removeOfferedAnswer(answer)" ng-if="!ctrl.readOnly"
                    ng-attr-title="{{'mwForm.buttons.remove' | translate}}" uib-popover="{{'mwForm.buttons.remove' | translate}}" popover-trigger="mouseenter" popover-placement="top">
                <i class="fa fa-times"></i>
            </button> -->
            <md-button class="remove-item-button" ng-click="ctrl.removeOfferedAnswer(answer)" ng-if="!ctrl.readOnly"
                    ng-attr-title="{{'mwForm.buttons.remove' | translate}}">
                <md-tooltip md-direction="top">
                    {{'mwForm.buttons.remove' | translate}}
                </md-tooltip>
                <md-icon class="fa fa-times"></md-icon>
            </md-button>
            <span ng-if="ctrl.question.pageFlowModifier" class="form-inline">
                 <select ng-options="pageFlow.label|translate:pageFlow for pageFlow in ctrl.possiblePageFlow" ng-model="answer.pageFlow"  class="form-control" ng-disabled="ctrl.readOnly"></select>
                 <!-- <md-input-container >
                     <md-select ng-model="answer.pageFlow" ng-disabled="ctrl.readOnly">
                       <md-option ng-value="pageFlow.label" ng-repeat="pageFlow.label|translate:pageFlow for pageFlow in ctrl.possiblePageFlow">{{ pageFlow.label }}</md-option>
                     </md-select>
                 </md-input-container> -->
            </span>

        </div>

    </div>
    <div class="mw-question-offered-answer add-new-answer-widget" ng-if="!ctrl.readOnly">
        <div class="drag-handle">
        </div>
        <div class="option-type-indicator">
            <!-- <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i> -->
            <md-icon ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></md-icon>
            <md-icon ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></md-icon>
        </div>
        <span ng-click="ctrl.addNewOfferedAnswer()" role="button">
            <!-- <input type="text" class="form-control  offered-answer-value" value="{{'mwForm.question.buttons.addOption'|translate}}"> -->
            <md-input-container>
                <input type="text" class="form-control  offered-answer-value" value="{{'mwForm.question.buttons.addOption'|translate}}">
            </md-input-container>
        </span>
        <span class="add-custom-answer"  ng-if="!ctrl.question.otherAnswer">
            <span translate="mwForm.question.orLabel">lub </span>
            <!-- <button role="button" ng-click="ctrl.addCustomAnswer()" translate="mwForm.question.buttons.addOther">Dodaj "Inne"</button> -->
            <md-button class="md-raised" ng-click="ctrl.addCustomAnswer()" translate="mwForm.question.buttons.addOther">Dodaj "Inne"</md-button>
        </span>
    </div>
    <div class="mw-question-offered-answer custom-answer" ng-if="ctrl.question.otherAnswer">
        <div class="drag-handle"  ng-if="!ctrl.readOnly">

        </div>
        <div class="option-type-indicator">
            <!-- <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i> -->
            <md-icon ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></md-icon>
            <md-icon ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></md-icon>
        </div>
        <label translate="mwForm.question.otherLabel">Inna: </label>
        <!-- <input  type="text" value="{{'mwForm.question.userAnswer'|translate}}"  class="form-control offered-answer-value " readonly> -->
        <md-input-container>
            <input  type="text" value="{{'mwForm.question.userAnswer'|translate}}"  class="form-control offered-answer-value " readonly>
        </md-input-container>
        <!-- <button type="button" role="button" class="remove-item-button" ng-click="ctrl.removeCustomAnswer()" ng-if="!ctrl.readOnly"
                ng-attr-title="{{'mwForm.buttons.remove' | translate}}" uib-popover="{{'mwForm.buttons.remove' | translate}}" popover-trigger="mouseenter" popover-placement="top">
            <i class="fa fa-times"></i>
        </button> -->
        <md-button type="button" role="button" class="remove-item-button" ng-click="ctrl.removeCustomAnswer()" ng-if="!ctrl.readOnly"
                ng-attr-title="{{'mwForm.buttons.remove' | translate}}">
            <md-tooltip md-direction="top">
                {{'mwForm.buttons.remove' | translate}}
            </md-tooltip>
            <md-icon class="fa fa-times"></md-icon>
        </md-button>
    </div>
</div>
